@import "../../commons";

.input-container {
  border: 1px solid $border;
  border-radius: 8px;
  padding: 4px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $secondary-dark-user-ui;
  gap: 5px;
  .input {
    width: 90%;
    font-family: 'Poppins', sans-serif;
    outline: none;
    height: 24px;
    border: none;
  }
}
